link#rd-test {
	visibility: hidden;
}

body, html {
	margin: 0;
	padding: 0 0 40px;
}

.popup-content p {
	font-size: 10px;
	padding: 0;
	margin: 0;
}

.popup-content img {
	width: 100px;
	float: left;
	padding-right: 10px;
}

/*************************************************************** BASE CSS FOR PHONES  **************************************************************/
@media screen and (max-width:669px) {

}

/*************************************************************** BASE CSS FOR TABLETS **************************************************************/
@media screen and (min-width: 670px) {

}

/*************************************************************** CSS FOR PHONES LANDSCAPE **************************************************************/
@media screen and (min-width:480px) and (max-width:669px) {

}

/*************************************************************** CSS FOR TABLETS LANDSCAPE **************************************************************/
@media screen and (min-width:1024px) {

}



