link#rd-test {
	visibility: hidden;
}

body, html {
	margin: 0;
	padding: 0 0 40px;
}

img {
	width: 600px;
	margin: 0 auto;
	display: block;
}

ul {
	padding: 0;
}

/*************************************************************** BASE CSS FOR PHONES  **************************************************************/
@media screen and (max-width:669px) {

}

/*************************************************************** BASE CSS FOR TABLETS **************************************************************/
@media screen and (min-width: 670px) {

}

/*************************************************************** CSS FOR PHONES LANDSCAPE **************************************************************/
@media screen and (min-width:480px) and (max-width:669px) {

}

/*************************************************************** CSS FOR TABLETS LANDSCAPE **************************************************************/
@media screen and (min-width:1024px) {

}



